<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('./navigation'); -%>
      <h1 style="padding: 100px; padding-bottom: 50px; font-size: 5vw; color: ##ffcc00; text-align: center;"> Educational Resources <span style="color: white;"></h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-sm-12" style="padding-bottom: 25px;">
            <div class="card" style="background-color: transparent;">
              <div class="card-body" style="background-color: #2B2E32; border-radius: 15px; height: inherit;">
                <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Reading Materials</h5>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; text-size: 12px;" href="https://www.washingtonpost.com/blogs/post-partisan/wp/2016/01/16/white-privilege-explained/">What Is White Privelige?</a></p>

                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.benjerry.com/home/whats-new/2016/systemic-racism-is-real">What Is Systemic Racism?</a>
                  7 ways we know systemic racism is real.</p>

                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.youtube.com/watch?v=45ey4jgoxeU">What Is White Fragility?</a>
                  White fragility is characterized by emotions such as anger, fear, and guilt, and by behaviors including argumentation and silence. These behaviors,
                  in turn, function to reinstate white racial equilibrium and prevent any meaningful cross-racial dialogue. - Robin DiAngelo. </p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;"
                    href="https://www.amazon.com/Me-White-Supremacy-Combat-Ancestor-ebook/dp/B07Y5PHNXB/ref=sr_1_1?crid=3VQKHXZPWCL7M&dchild=1&keywords=layla+saad+me+and+white+supremacy+workbook&qid=1590897733&s=books&sprefix=layla+sa%2Cstripbooks%2C207&sr=1-1">Me
                    and White Supremacy: Combat Racism, Change the World, and Become a Good Ancestor</a>
                  By Layla F. Saad </p>

                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;"
                    href="https://www.amazon.com/You-Want-Talk-About-Race/dp/1580058825/ref=sr_1_1?crid=1QR9NY6ENDQCH&dchild=1&keywords=ijeoma+oluo&qid=1590898046&s=books&sprefix=ijeoma%2Cstripbooks%2C210&sr=1-1">So You Want To Talk About Race?</a>
                  By Iejoma Oluo.</p>

                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.amazon.com/gp/product/1568585985/ref=ox_sc_saved_title_3?smid=ATVPDKIKX0DER&psc=1">Stamped from the Beginning: The Definitive History of
                    Racist Ideas in America:</a>
                  By Ibram X. Kendi</p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.sentencingproject.org/publications/un-report-on-racial-disparities/">Racial Risparities in the U.S Criminal Justice System"</a>
                  The United States operates two distinct criminal justice systems: one for wealthy people and another for people of color. </p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.urban.org/features/structural-racism-america">Structural Racism In America:</a>
                  This source examines how historical and ongoing public policies, institutional practices, and cultural narratives perpetuate racial inequalities and constrain mobility for communities of color. </p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.africa.upenn.edu/Articles_Gen/Letter_Birmingham.html">Letter From Birmingham Jail:</a>
                  Martin Luther Kings letter from Birmingham Jail.</p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://newrepublic.com/amp/article/153103/videos-police-brutality-traumatize-african-americans-undermine-search-justice">Stop Posting Videos of Police
                    Violence Towards African Americans:</a>
                  How Videos of Police Brutality Traumatize African Americans and Undermine the Search for Justice </p>

                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://simmons.libguides.com/anti-oppression/anti-racism">Anti-Oppression, Anti-Racism:</a>
                  This guide is intended to provide general information about anti-oppression, diversity, and inclusion as well as information and resources for the social justice issues.</p>
                <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://drive.google.com/file/d/1gl9JejcGcVW-xBvoLyk1wCH4xbbXYFy6/view">On Being White... And Other Lies:</a>
                  By James Baldwin.</p>

                < </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12" style="padding-bottom: 25px;">
              <div class="card" style="background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px; height: inherit;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">Initiatives, Websites, Organizations, and Groups</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://blacklivesmatter.com/">Black Lives Matter:</a>
                    Black Lives Matter is a global organization whose mission is to eradicate white supremacy and build local power to intervene in violence inflicted on Black communities by the state and vigilantes</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;"
                      href="https://www.google.com/url?q=https://www.google.com/url?q%3Dhttps://www.blackvisionsmn.org/%26amp;sa%3DD%26amp;ust%3D1591167259602000&sa=D&ust=1591167259664000&usg=AFQjCNE4KBb2P0-NGVTeyUYPnYNEZJQHTg">Black Visions
                      Collective:</a>Black Visions Collective (BLVC) believes in a future where all Black people have autonomy, safety is community-led, and we are in right relationship within our ecosystems.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.joincampaignzero.org/">Campaign Zero:
                    </a> Under sustained pressure, elected officials have begun to enact legislation to address police violence. Campaign Zero provides tools to track legislation impacting your community and hold your representatives
                    accountable for taking meaningful action to end police violence.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://eji.org/"> Equal Justice Initiative:
                    </a> Equal Justice Intiative is a nonprofit organization that provides legal representation to people who have been illegally convicted, unfairly sentenced, or abused in state jails and prisons.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.naacp.org/"> NAACP:
                    </a> The mission of the National Association for the Advancement of Colored People (NAACP) is to secure the political, educational, social, and economic equality of rights in order to eliminate race-based discrimination and ensure
                    the
                    health and well-being of all persons.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://projectsouth.org/"> Project South:
                    </a> Project South is a Southern-based leadership development organization that creates spaces for movement building. They have been working with communities to strengthen leadership and to provide popular political and economic
                    education for personal and social transformation.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.reclaimtheblock.org/home"> Reclaim the Block:
                    </a> Reclaim the Block organizes Minneapolis community and city council members to move money from the police department into other areas of the citys budget that truly promote community health and safety.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.reclaimtheblock.org/home"> Society for the Study of Social Problems:
                    </a> he SSSP's stated purpose is to promote and protect sociological research and teaching on significant problems of social life. </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.reclaimtheblock.org/home"> Society for the Study of Social Problems:
                    </a> The SSSP's stated purpose is to promote and protect sociological research and teaching on significant problems of social life. </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://100blackmen.org/"> 100 Black Men:
                    </a> The mission of 100 Black Men of America is to improve the quality of life and enhance educational and economic opportunities for all African Americans. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card" style="background-color: transparent;" style="padding-bottom: 25px;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px; height: inherit;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://www.aclu.org/issues/racial-justice/race-and-economic-justice> Inequality In Education </a></p>

                    <p class="card-text"><span style="color: ##ffcc00;">Black students are suspended and expelled from school three times more often than white students are.</span></p>


                  </div>
                  <br>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px; height: inherit;">
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://inequality.org/facts/racial-inequality /> Race and Econonmic Inequality</a></p>

                    <p class="card-text"><span style="color: white;">The median wealth of white households is 20 times that of black households and 18 times that of Latino households.</span></p>
                    <br>
                    <p class="card-text"><span style="color: white;">In the US, Black individuals are twice as likely to be unemployed than white individuals. Once employed, Black individuals earn nearly 25% less than their white counterparts. <a
                          style="color: #ffcc00; text-decoration: underline; " href=https://inequality.org/facts/racial-inequality /> (Economic Policy Institute)</a></span></p>

                  </div>
                  <br>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px; height: inherit;">
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://www.ahrq.gov/sites/default/files/wysiwyg/research/findings/nhqrdr/2018qdr-final.pdf. />Healthcare Inequality</a></p>

                    <p class="card-text"><span style="color: white;"> From 2013 to 2017, white patients in the US received better quality health care than about 34% of Hispanic patients, 40% of Black patients, and 40% of Native American
                        patients (National Healthcare Quality and Disparities Report, 2020)</span></p>
                  </div>
                  <br>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px; height: inherit;">
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://www.sentencingproject.org/publications/un-report-on-racial-disparities/ /> Criminal Justice Inequality </a></p>

                    <p class="card-text"><span style="color: white;"> African-American adults are 5.9 times as likely to be incarcerated than whitess (US Bureau of Justice Statistics, 2018).</span></p>
                    <br>
                    <p class="card-text"><span style="color: white;">
                        <p class="card-text"><span style="color: white;"> Black Americans are more likely than white Americans to be arrested. Once arrested, they are more likely to be convicted, and once convicted, they are more likely to experience
                            lengthy prison sentences (US Bureau of Justice Statistics, 2018).
                          </span></p>
                  </div>
                  <br>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px; height:inherit;">
                    <p class="card-text"><span style="color: white;"> After being fired for misconduct, 450 out of 1,800 officers were able to get their jobs back. </span></p>
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://theweek.com/articles/860002/unjust-power-police-unions />Mathis, Joel (2019, August).</a></p>
                  </div>
                  <br>
                  <div style="background-color: #212529; border-radius: 15px; padding: 15px; height:inherit;">
                    <p class="card-text"><a style="color: #ffcc00; text-decoration: underline; " href=https://supreme.justia.com/cases/federal/us/457/800/case.html />Qualified Immunity</a></p>

                    <p class="card-text"><span style="color: white;"> An officer cannot be held civilly liable for violating a person's rights unless the person's right is established "beyond dispute," and the officer violates a clearly established
                        law that a "reasonable" officer should know. </span></p>


                  </div>
                </div>
              </div>
            </div>
          </div>

          <%- include('./footer'); -%>
    </body>

    </html>