<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('./navigation'); -%>
  <h1 style="padding: 100px; padding-bottom: 50px; font-size: 5vw; color: #ffcc00; text-align: center;">How to
    Protest Safely <span style="color: white;"></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-12" style="padding-bottom: 25px;">
        <div class="card" style="background-color: transparent; height: inherit;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Resources For
              Protesters</h5>
            <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.amnestyusa.org/pdfs/SafeyDuringProtest_F.pdf">Safety
                During Protests:</a> Amnesty International's information on staying safe
              while
              protesting</p>
            <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://emergency.cdc.gov/agent/riotcontrol/factsheet.asp"> Control
                Agents (CDC): </a> Information about how to protect yourself in the event
              that
              law enforcement uses tear gas against protesters.</p>
            <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.aclu.org/know-your-rights/protesters-rights/">Know Your
                Rights:</a>
              Educate yourself about your rights before protesting</p>
            <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="http://www.urban75.org/mayday/safety.html">
                Protest First Aid: </a>Be prepared to take care of yourself and others in
              the event that you
              are injured at a protest.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" style="padding-bottom: 25px;">
        <div class="card" style="background-color: transparent;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Hotlines To Call for
              Unlawful Arrests</h5>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Los Angeles, CA<span><a href="tel:310-313-3700">-
                  310-313-3700</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> San Antonio, TX<span><a href="tel:210-227-1515">-
                  210-227-1515</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Richmond, VA <span><a href="tel:210- 227-1515">-
                  210- 227-1515</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> New York City, NY<span><a href="tel:783-346-6322">-
                  783-346-6322</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Minneapolis, MN<span><a href="tel:612-444-2654">-
                  612-444-2654</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Atlanta, GA<span><a href="tel: 612-444-2654">-
                  612-444-2654</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Philadelphia, PA <span><a href="tel: 484-758-0388">-
                  484-758-0388</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Louisville, KY <span><a href="tel: 502-705-0081">-
                  502-705-0081</a></span></p>
            <p style="color: #ffcc00; background-color: #212529; border-radius: 15px; text-align: center;" class="card-text"> Raleigh, NC <span><a href="tel: 484-758-0388">-
                  484-758-0388</a></span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card" style="background-color: transparent;" style="padding-bottom: 25px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Tips For Protesting</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">What To Wear:</span></p>
              <p class="card-text">Shatter-proof goggles.</p>
              <p class="card-text">Broad face covering. Ex. Bandanna</p>
              <p class="card-text">Protective shoes, long shirt, and long pants.</p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">What To Do:</span></p>
              <p class="card-text"> Make a plan with your friends if
                you happen to get separated</p>
              <p class="card-text">Watch for signs of physical and mental problems
                in yourself and others</p>
              <p class="card-text">Document, film or write down police actions, brutality, and injuries
              </p>
            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">What NOT to Do:</span></p>
              <p class="card-text"> Don't wear anything oil-based on your skin, it can trap tear gas and
                make the effects worse</p>
              <p class="card-text"> Don't wear things that can be easily grabbed (e.g. jewelry, ties,
                loose hair)</p>
              <p class="card-text"> Avoid going alone, if you can help it. </p>
              <p class="card-text"> Don't wear contacts. </p>
              <p class="card-text"> Don't forget to eat food and drink lots of water </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./footer'); -%>
</body>

</html>